<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esempio 1</title>
</head>

<body>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">

            </div>
            <ul>
                <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div v-for="variant in variations" :key="variant.variantId">
                <p>{{ variant.variantColor}}</p>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>